@charset "UTF-8";
.container{
	width:90%;
	margin: 0% 5%;
}
.about{
	border:1px solid black;
}

table{
	border: 1px solid white;
	width: 95%;
	margin: 1%;
	margin-left: 2%;
	table-layout: fixed;
}

tr{
	border: 2px solid white;
}

td{
	border: 1px solid white;
	padding: 1%;
	padding-right:1%;
}

th{
	border: 1px solid white;
	padding: 1.5%;
	padding-right:1%;
}